body{
  margin-left: 27em;
}

#survey-form {
  display: grid;
  grid-template: 1fr / 200px 200px;
  text-align: left;

}

.twocolumns{
  grid-column: 1 / span 2;
  text-align: center;
}

.options{
  text-align: left;
}
